<main class="account_view">
  <div class="user_row">
   <div class="row">
      <%= render "shared/user" %>
    <div class="user_field">
  <table class="user_table">
        <tr class="account_tr">
          <th class="account_th">アカウント</th>
        </tr>
 
        <tr class="account_tr">
          <th class="account_th">メールアドレス</th>
          <td class="account_td"><%= @user.email %></td>
        </tr>
 
        <tr class="account_tr">
          <th class="account_th">パスワード</th>
          <td class="account_td">**********</td>
        </tr>
        <tr class="account_tr">
         <th class="account_th"><%= link_to '編集', edit_user_registration_path, class: 'btn btn-primary' %></th>
        </tr>
      </table>
    </div>
   </div>
  </div>
</main>