<main class="main_page">
 <div class= "top">
  <div class= "top_main">
  <div class= "form_area">
  <h3 class= "form_area_title">Potepan Shareでまだ体験したことない旅をしよう</h3>
  <p class="search_lavel">エリア</p>
   <div class="search_area">
           <%= form_with url:rooms_search_path, local: true, method: :get do |f| %>
           <%= f.text_field :area, value: @area, placeholder: "東京",:class => 'top_search_area' %><br> 
           <%= f.submit " 探す" ,:adress => nil ,class: "search_button"%> 
        <% end %> 
        </div>
  </div>
  </div>
  <div class="container">
    <h2 class="select_area">おすすめのエリア</h2>
    <div class="item_field">
      <div class="area_item">
     <p class="area_title">東京</p>
      <a href="https://3652e5c0c10e4ac394f4f84f03c444db.vfs.cloud9.us-east-1.amazonaws.com/rooms/search?utf8=%E2%9C%93&area=%E6%9D%B1%E4%BA%AC&commit=+%E6%8E%A2%E3%81%99">
      <img class="area-image" src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_tokyo.jpg">
      </a>
      </div>
      <div class="area_item">
      <p class="area_title">大阪</p>
      <a href="https://3652e5c0c10e4ac394f4f84f03c444db.vfs.cloud9.us-east-1.amazonaws.com/rooms/search?utf8=%E2%9C%93&area=%E5%A4%A7%E9%98%AA&commit=+%E6%8E%A2%E3%81%99">
      <img class="area-image" src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_osaka.jpg">
      </a>
      </div>
      <div class="area_item">
      <p class="area_title">京都</p>
      <a href="https://3652e5c0c10e4ac394f4f84f03c444db.vfs.cloud9.us-east-1.amazonaws.com/rooms/search?utf8=%E2%9C%93&area=%E4%BA%AC%E9%83%BD">
      <img class="area-image" src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_kyoto.jpg">
      </a>
      </div>
      <div class="area_item">
      <p class="area_title">札幌</p>
      <a href="https://3652e5c0c10e4ac394f4f84f03c444db.vfs.cloud9.us-east-1.amazonaws.com/rooms/search?utf8=%E2%9C%93&area=%E6%9C%AD%E5%B9%8C">
      <img class="area-image" src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_sapporo.jpg">
      </a>
      </div>
    </div>
  </div>
 </div>
</main>