@import "bootstrap";  ＜（追加）
/*ヘッダー*/
body{
  margin:0;
}
nav {
    background-color: black;
    display: flex;
}
.header_logo{
  margin-left: 50px;
}
.left_nav {
  display: flex;
}
.search_area {
    margin-top: 20px;
    margin-right: 5px;
}
.search_key {
    margin-top: 20px;
}
.right_nav {
    position: absolute;
    right: 25px;
    top: 10px;
}
.menu_image {
    height: 50px;
    width: 50px;
    border-radius: 100px;
}
ul#menu_list {
    background-color: white;
    list-style-type: none;
    width: 180px;
    height: 200px;
    padding: 20px;
}
.menu_li {
    margin-bottom: 7px;
}
a.page_link {
    color: black;
}
.sighin {
    color: white;
    text-decoration: none;
    background-color: #4169e1;
    padding: 10px;
    border-radius: 5px;
}
.sighup {
    color: white;
    text-decoration: none;
    background-color: grey;
    padding: 10px;
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 20px;
}
footer {
    background-color: black;
    height: 200px;
}
.footer_logo{
  color: white;
  font-size: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 90px;
}
.message {
    width: 100%;
    position: absolute;
    height: 50px;
}
p.user_name {
    color: white;
    position: absolute;
    right: 80px;
    top: 10px;
}

#input {
  position:relative; 
  position: relative;
    z-index: 2;
    width: 50px;
    height: 45px;
    display: none;
}
#contens {
    display: none;
    position: absolute;
    left: -160px;
    top: 57px;
    z-index: 2;
}
input:checked ~ #contens {
    display: block;
   
}
label.menu {
    position: absolute;
    right: 0;
}

/*メインページ*/
main.main_page{
  height: 1000px;
  margin-bottom: 30px;
}
.top_main{
  background-image: url("https://presite-potepancamp-rails-02.herokuapp.com/assets/img_cover_top.jpg");
  width: 100%;
  height: 550px;
  background-size: cover;
  margin-bottom: 40px;
}
img.area-image {
    width: 200px;
    height: 360px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 25px;
    float: left;
    position:relative;
    margin-right: 30px;
}
h3.form_area_title {
    font-size: 25px;
}
p.search_lavel {
    font-size: 13px;
    margin-bottm: 0;
}
.form_area {
    background-color: white;
    width: 450px;
    height: 230px;
    border-radius: 5px;
    position: absolute;
    top: 220px;
    left: 150px;
    padding: 25px 20px;
}
input.top_search_area {
    width: 100%;
    margin-bottom: 20px;
}
input.search_button {
    width: 100%;
    color: white;
    background-color: #00bfff;
    border: none;
    border-radius: 4px;
    height: 30px;
}
.item_field {
    display: flex;
}
 .area_title{
  position: absolute;
  z-index: 3;
  color: white;
  font-weight: 900;
  font-size: 20px;
  padding: 315px 80px;
}
.select_area{
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 30px;
}
/*新規登録、ログインページ*/
.sighup_main{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  height: 350px;
}
.mark{
  display: inline-block;
  background-color: red;
  border-radius: 5px;
  color: white;
  font-size: 12px;
  padding: 3px 2px;
  margin-left: 3px;
}
.sigh_field {
    height: 25px;
    width: 250px;
}
.new_account {
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    background-color: #00bfff;
    border: none;
    width: 300px;
    height: 33px;
    border-radius: 4px;
}
.page_link {
    font-size: 14px;
    color: #00bfff;
    text-decoration: none;
}

/*room_index*/
main.room_main {
    margin-top: 40px;
    margin-left: 60px;
    height: auto;
    margin-bottom: 200px;
}
table.room_index_table {
  width: 800px;
}
th.room_index_th{
    text-align: center;
    font-size: 13px;
}
tr.room_index_tr {
    height: 35px;
}
td.room_index_td {
    text-align: center;
    font-size: 13px;
}
.room_image {
    width: 180px;
    height: 100px;
}
h5{
  margin-bottom: 20px;
}

/*room_new*/
main.room_new {
    height: 700px;
}
.room_nav {
    height: 700px;
    background-color: white;
}
.room-box{
    text-align: center;
    margin-bottom: 70px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
.row_view {
    background-color: #f5f5f5;
}
.room_new_table{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  height: 350px;
  background-color: white;
}
.room_title{
  width: 250px;
  padding-left: 60px;
  color: blue;
  padding-top: 40px;
}
th.room_lavel {
  text-align: left;
  padding-left: 30px;
}
.room_field{
  width: 500px;
  border: solid 1px #dcdcdc;
  margin-left: 70px;
  margin-right: 20px;
}
.room_area{
  width: 500px;
  border: solid 1px #dcdcdc;
  margin: 15px 20px 30px 70px;
  margin-right: 20px;
  height: 100px;
}
.room_register {
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    background-color: #00bfff;
    border: none;
    width: 100px;
    height: 33px;
    border-radius: 4px;
}
tr {
    border: solid 1px #e6e6e6;
    height: 70px;
}

/*予約一覧ページ*/
main.reservations_index_main {
    height: auto;
    width: 100%;
    margin: 30px 50px;
}
h3.reservations_title {
    font-size: 22px;
    margin-bottom: 30px;
}
table.reservations_index_table {
    width: 90%;
    text-align: center;
}
tr.reservations_index_tr {
    height: 30px;
}
th.reservations_index_th {
    font-size: 13px;
}
/*予約ページ*/
main.rooms_show_main {
    width: 100%;
    margin: 20px 200px;
}
.room_navs {
    display: flex;
    flex-direction: column;
    margin-right: 23px;
}
img.room_images {
    width: 600px;
    height: 350px;
    margin-bottom: 40px;
}
img.room_user_image {
    height: 60px;
    width: 60px;
    border-radius: 100px;
    margin-bottom: 30px;
}
.image_right {
    position: absolute;
    top: 480px;
    left: 290px;
}
p.room_name {
    font-weight: 700;
    font-size: 18px;
}
p.room_adress {
    font-size: 14px;
}
p.room_memo {
    border-bottom: solid 1px #dcdcdc;
    border-top: solid 1px #dcdcdc;
    padding: 30px
}
table.relatives_new_table {
    width: 310px;
    height: 380px;
    border: solid 1px #e6e6e6;
}
tr.reservation_text_field {
    border: none;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
td.room_price {
    padding-top: 30px;
    font-size: 20px;
}
th.reservation_lavel {
    font-weight: 400;
    font-size: 12px;
}
.reservation_field{
    width:270px;
}
.reservation_register {
    width: 270px;
    color: white;
    background-color: #00bfff;
    border: none;
    border-radius: 3px;
    height: 32px;
    margin-top: 20px;
}
.reservation_image {
    width: 200px;
}
/*予約詳細ページ*/
main.reservation_show_main {
    background-color: #fffaf0;
    height: 550px;
}
table.relatives_show_table {
    margin: 40px auto;
    width: 700px;
    background-color: white;
}
tr.reservation_show_field {
    height: 60px;
}
th.reservation_show_lavel {
    width: 200px;
    padding-left: 30px;
}
/*アカウント*/
main.account_view {
    background-color: #f5f5f5;
    height: 600px;
}
.left-nav {
    width: 250px;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-left: 60px;
    height: 600px;
    background-color: white;
}
.account_link{
    color: black;
    margin-bottom: 15px;
}
.user_field {
    margin: 20px auto;
}
table.user_table {
    background-color: white;
    width: 700px;
}
th.account_th {
    padding-left: 30px;
}
.btn.btn-primary {
    width: 120px;
}

/*プロフィール*/
th.profile_th {
    padding-left: 25px;
}
/*アカウント編集画面*/
main.account_edit_main {
    height: 550px;
}
.account_edit_index {
    width: 100%;
    text-align: center;
    margin-top: 60px;
}
.account_edit_field {
    width: 300px;
    border: solid 1px #e6e6e6;
    height: 30px;
    margin-bottom: 10px;
}
input.account_edit_btn {
    width: 300px;
    background-color: #00bfff;
    color: white;
    border: none;
    height: 30px;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 25px;
}
.back_link{
    padding: 5px 132px;
    background-color: white;
    border: solid 1px black;
    border-radius: 3px;
}
img.user_image {
    height: 50px;
    border-radius: 100px;
}
.user_image_td {
    width: 100%;
    text-align: right;
}
/*検索画面*/
main.search_main {
    margin: 30px 50px;
}
h3.search_result {
    font-size: 23px;
    margin-bottom: 30px;
}
.col-3 {
    border: solid 1px #e6e6e6;
    margin-right: 30px;
    margin-bottom: 10px;
    padding: 0;
    flex: 0 0 24%;
    max-width: 22%;
}
p.search_name {
    font-weight: 700;
    color: grey;
    margin-left: 10px;
}
p.search_adress {
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 900;
    margin-left: 10px;
}
p.search_price {
    text-align: right;
    margin-right: 10px;
}
.room_image {
    width: 100%;
    height: 150px;
}
/*予約確認ページ*/
table.confirm_table {
    margin: 40px auto;
    width: 450px;
}
tbody.confirm_tbody {
    border: solid 1px #dcdcdc;
}
tr.confirm_tr {
    height: 50px;
    border: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px
}
td.confirm_title {
    padding-left: 15px;
    font-weight: 600;
    font-size: 20px;
}
td.confirm_td {
    padding-left: 15px;
    margin-top: 20px;
}
td.confirm_btn {
    padding: 0 15px;
}
td.confirm_td_date {
    background-color: #dcdcdc;
    border-radius: 4px;
    margin: 10px 15px;
}
th.confirm_th {
    padding-left: 15px;
}
p.confirm_instructions {
    font-size: 12px;
}
.confirm_bule_btn {
    border: none;
    background-color: #00bfff;
    color: white;
    padding: 3px 158px;
    border-radius: 4px;
}
.confirm_gray_btn {
    background-color: gray;
    color: white;
    border-radius: 3px;
    padding: 5px 135px;
}